node_modules/
.vscode/
.idea/
__pycache__/
.DS_Store
*.log
*.pyc
*.pyo
*.db
*.sqlite
*.swp
OneDrive/
Documents/
AppData/
*.xml
*.zip
*.exe
*.iso
# Ignore system files
.VirtualBox/
.anaconda/
.cache/
.vscode/
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
NTUSER.DAT*
Pictures/
Saved Games/
Searches/
Videos/

